<nav>
    <div class="navbar">
      <a href="/">WATCHAIN</a>
      <input type="text" placeholder="Search by Serial Number" />
      <div class="nav-icons">
        <a href="#"><i class="fas fa-user"></i></a>
        <a href="#"><i class="fas fa-bars"></i></a>
      </div>
    </div>
  </nav>
  